* {
    margin: 0; 
    /* Remove todas as margens padrão de todos os elementos */
    padding: 0; 
    /* Remove todos os paddings padrão de todos os elementos */
    box-sizing: border-box; 
    font-family: "Press Start 2P", system-ui;
    font-weight: 400;
    font-style: normal;
}
  
/* permite maior controle sobre o layout e evita espaços indesejados. */
